.container {
  composes: container from global;
  max-width: 1000px;
  margin: 5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.title {
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
  color: var(--first);
  padding-top: 1em;
}

.subtitle {
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  color: var(--third);
}

@media (max-width: 600px) {
}
